@model FribergCarRentals_GOhman.Models.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PricePerDay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImgURL)
        </dt>
        <dd class = "col-sm-10">
            <img class="img-thumbnail" src="@Html.DisplayFor(model => model.ImgURL)" alt="@Html.DisplayFor(model => model.Model) image" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-link" asp-action="Index">Back to List</a>
</div>
