@model IEnumerable<FribergCarRentals_GOhman.Models.Car>

@{
    ViewData["Title"] = "Index";
}
<style>
    .card-img-custom{
        height: 200px;
    }

    .card {
/*         width: 18rem; */
        margin: 1em 0;
        margin-right: 1em;
        height: 22em;
        width: 18em;
    }

    .row {
        margin-left: -10px; /* Adjust to prevent overlapping */
        margin-right: -10px;
    }

</style>
<h1>Index</h1>


<div class="container">
    <div class="d-flex flex-wrap">
        @foreach (var item in Model)
        {
            <div class="card-container">
                <div class="card">
                    <img src="@item.ImgURL" class="card-img-top card-img-custom" alt="Picture of car">
                    <div class="card-body">
                        <h5 class="card-title">@item.Model @item.ModelYear</h5>
                        @if(@item.PricePerDay < 1000)
                        {
                            <p class="card-text" style="color: green; font-weight: bold;">@item.PricePerDay SEK/day</p>

                        }
                        else
                        {
                            <p class="card-text">@item.PricePerDay SEK/day</p>
                        }
                        <a asp-action="BookCar" asp-route-id="@item.Id" class=" btn btn-primary">Book</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
