@model FribergCarRentals_GOhman.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create new booking</h1>

<form asp-action="Create">


    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control" value="@DateTime.Today.AddHours(12)" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StopDate" class="control-label"></label>
        <input asp-for="StopDate" class="form-control" value="@DateTime.Today.AddHours(12)" />
        <span asp-validation-for="StopDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <select asp-for="@Model.UserId" asp-items="@Model.UserAccounts">Select User</select>
        <label asp-for="UserAccounts" class="control-label"></label>
        <br />
        <select asp-for="@Model.CarId" asp-items="@Model.CarSelectList">Select Car</select>
        <label asp-for="Cars" class="control-label"></label>

    </div>
    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger transition" role="alert">
            @ViewBag.Error
        </div>
    }

    <input class="btn btn-primary" type="button" id="submitBtn" value="Create" onclick="confirmScript()" />
    <a class="btn btn-link" id="cancelBtn" asp-action="index" onclick="cancelScript()">Cancel </a>


</form>

<script>
    //Two step confirmation for booking button.
    let step = 1;

    function confirmScript() {
        
        if (step === 1) {
            submitBtn.value = "Confirm";
            submitBtn.className = "btn btn-success btn-lg transition";
            cancelBtn.className = "btn btn-danger";
            step = 2;
        } else if (step === 2) {
            submitBtn.type = "submit";

        }
        submitBtn.blur();
    }

    function cancelScript(event) {
        if (step === 2) {
            event.preventDefault();
            resetSubmit();
        }
    }

    function resetSubmit() {
        submitBtn.value = "Create";
        submitBtn.className = "btn btn-primary";
        cancelBtn.className = "btn btn-link";
        step = 1;
        submitBtn.blur();
        cancelBtn.blur();
    }

    const cancelBtn = document.getElementById('cancelBtn');
    const submitBtn = document.getElementById('submitBtn');
    cancelBtn.addEventListener('click', cancelScript);

</script>