@model FribergCarRentals_GOhman.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Index";
}
<p>
    <a class="btn btn-primary" asp-action="SelectDate">Create New</a>
</p>

@if (Model.ActiveBookings!.Count == 0 && Model.UpcomingBookings!.Count == 0 && Model.EarlierBookings!.Count == 0)
{
    <h3>No bookings for current user!</h3>
}
else
{
    if (Model.ActiveBookings.Count != 0)
    {
        <h2>Active bookings:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.FuelType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Gearbox)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ActiveBookings)
                {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Car.ImgURL)" class="img-thumbnail" alt="CarPhoto">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Model)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.FuelType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Gearbox)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
    }
    <br />
    @if (Model.UpcomingBookings.Count != 0)
    {

        <h3>Upcoming bookings</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.FuelType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Gearbox)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.UpcomingBookings!)
                {
                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Car.ImgURL)" class="img-thumbnail" alt="CarPhoto">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.FuelType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Gearbox)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

    <br />
    @if (Model.EarlierBookings!.Count != 0)
    {
        <h3>Earlier bookings</h3>
        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.StartDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StopDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.FuelType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car!.Gearbox)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.EarlierBookings)
                {

                    <tr>
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.Car.ImgURL)" class="img-thumbnail" alt="CarPhoto">
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StartDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StopDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.FuelType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Car.Gearbox)
                        </td>
                        <td>
                            <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id">Details</a> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
}