@model FribergCarRentals_GOhman.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Select Car";
}

@if (Model.Cars != null)
{
    <h3>Available cars at selected date:</h3>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            @foreach (var item in Model.Cars)
            {
                <div class="card-container">
                    <div class="card p-">
                        <img src="@item.ImgURL" class="card-img-top card-img-custom" alt="Picture of car">
                        <div class="card-body">
                            <h4 class="">@item.Model @item.ModelYear</h4>
                            <p class="card-text">
                                <ul>
                                    @if (@item.PricePerDay < 1000)
                                    {
                                        <li style="color: green; font-weight: bold;">@item.PricePerDay SEK/day</li>

                                    }
                                    else
                                    {
                                        <li>@item.PricePerDay SEK/day</li>
                                    }
                                    <li>@item.Gearbox</li>
                                    <li>@item.FuelType</li>
                                </ul>
                            <form asp-action="SelectCar">
                                <input type="hidden" asp-for="StartDate" />
                                <input type="hidden" asp-for="StopDate" />
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Select" asp-route-id="@item.Id" class="btn btn-primary w-100" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <a class="btn btn-primary" asp-action="SelectDate">Change date</a>
    <a class="btn btn-link" asp-action="Index">Cancel</a>

}
else
{
    <h2>No available cars. Try another date.</h2>
    <a class="btn btn-link" asp-action="SelectDate">Back</a>
}