@model FribergCarRentals_GOhman.ViewModels.BookingViewModel

@{
    ViewData["Title"] = "Select Car";
}

@if (Model.Cars != null)
{
    <h3>Available cars at selected date:</h3>
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center">
            @foreach (var item in Model.Cars)
            {
                <div class="card-container">
                    <div class="card">
                        <img src="@item.ImgURL" class="card-img-top card-img-custom" alt="Picture of car">
                        <div class="card-body">
                            <h5 class="card-title">@item.Model @item.ModelYear</h5>
                            @if (@item.PricePerDay < 1000)
                            {
                                <p class="card-text" style="color: green; font-weight: bold;">@item.PricePerDay SEK/day</p>

                            }
                            else
                            {
                                <p class="card-text">@item.PricePerDay SEK/day</p>
                            }
                            <form asp-action="SelectCar">
                                <input type="hidden" asp-for="StartDate" />
                                <input type="hidden" asp-for="StopDate" />
                                <div class="d-flex justify-content-center">
                                    <input type="submit" value="Select" asp-route-id="@item.Id" class="btn btn-primary w-100" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <a class="btn btn-primary" asp-action="SelectDate">Change date</a>
    <a class="btn btn-link" asp-action="Index">Cancel</a>

}
else
{
    <h2>No available cars. Try another date.</h2>
    <a class="btn btn-link" asp-action="SelectDate">Back</a>
}